@page "/"
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using SodaShared.Services;
@using StoreApp.Services;
@inject OrderService orderService
@inject AuthorizationService auth
@inject NavigationManager nav

<PageTitle>Index</PageTitle>

@if (isAdmin)
{
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-clipboard-data"></i> Current Orders</h5>
                <p class="card-text">There are currently @inProgressOrdersCount orders in the queue.</p>
                <a href="/orders" class="btn btn-primary"><i class="bi bi-list-task"></i> View Orders</a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-star-half"></i> Features Management</h5>
                <p class="card-text">Manage the featured items on your menu.</p>
                <a href="/features" class="btn btn-primary"><i class="bi bi-gear"></i> Manage Features</a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-cup-straw"></i> Product Management</h5>
                <p class="card-text">View and manage all of your products.</p>
                <a href="/productmanagement" class="btn btn-primary"><i class="bi bi-gear"></i> Manage Products</a>
            </div>
        </div>
    </div>
    </div>
}
else
{
        <a class="h3" href="login">Please Log In To Continue</a>
}

@code {
    private int inProgressOrdersCount = 0;
    private bool isAdmin = false;
    protected override async Task OnInitializedAsync()
    {
        isAdmin = auth.IsAdmin();
        inProgressOrdersCount = await orderService.GetOrderCount();
    }
}




