@page "/"
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using SodaShared.Services;
@inject OrderService orderService

<PageTitle>Index</PageTitle>


<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-clipboard-data"></i> Current Orders</h5>
                <p class="card-text">There are currently @inProgressOrdersCount orders in the queue.</p>
                <a href="/orders" class="btn btn-primary"><i class="bi bi-list-task"></i> View Orders</a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-bookmark-plus"></i> Menu Management</h5>
                <p class="card-text">Manage the items on your menu.</p>
                <a href="/menu" class="btn btn-primary"><i class="bi bi-gear"></i> Manage Menu</a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-cup-straw"></i> Product Management</h5>
                <p class="card-text">View and manage all of your products.</p>
                <a href="/productmanagement" class="btn btn-primary"><i class="bi bi-gear"></i> Manage Products</a>
            </div>
        </div>
    </div>
</div>

@code {
    private int inProgressOrdersCount = 0; 
    protected override async Task OnInitializedAsync()
    {
        inProgressOrdersCount = await orderService.GetOrderCount();
    }
}




