@inherits LayoutComponentBase
@using StoreApp.Services;
@inject AuthorizationService Auth;


<PageTitle>The Soda Geyser</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:rgb(21, 97, 109);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (Auth.IsLoggedIn())
        {
            <div class="top-row px-4">
                <button class="btn btn-primary" @onclick="LogOut">Log Out</button>
            </div>
        }
        else
        {
            <div class="top-row px-4">
                <a href="login">Login</a>
            </div>

        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public void LogOut()
    {
        Auth.Logout();
    }
}